{% extends "layout.html" %}

{% block body %}
  <h1>Index page</h1>
  <legend>Retrieve data from:</legend>
  <form action="/" method="post">
 		<select name="month" required>
			<option value="">Month</option>
			{% for month in months %}
				<option value="{{ month }}">{{ month }}</option>
			{% endfor %}
		</select>

		<select name="year" required>
			<option value="">Year</option>
			{% for year in years %}
				<option value="{{ year }}">{{ year }}</option>
			{% endfor %}
		</select>
		<button type="submit">Retrieve</button>
  </form>
	
	{% for professor in professors %}
		<legend>Teacher: {{ professor['name'] }}</legend>
		<table>
			<tr>
				<th>Name</th>
				<th>Payment</th>
				<th>Scholar</th>
				<th>Maint.</th>
				<th>Recep.</th>
				<th>Coord.</th>
				<th>Teacher</th>
				<th>School</th>
			</tr>
			{% for row in professor['data'] %}
				<tr>
					<td>{{ row[0] }}</td>
					<td>{{ row[1] }}</td>
					<td>{{ row[2] }}</td>
					<td>{{ expenses['maint'] }}</td>
					<td>{{ expenses['recep'] }}</td>
					<td>{{ expenses['coord'] }}</td>
					<td>{{ results['teacher'] }}</td>
					<td>{{ results['school'] }}</td>
				</tr>
			{% endfor %}
			</tfoot>
				<th colspan="3">Total</th>
				<td>{{ expenses['maint'] * professor['items'] }}</td>
				<td>{{ expenses['recep'] * professor['items'] }}</td>
				<td>{{ expenses['coord'] * professor['items'] }}</td>
				<td>{{ '${:2f}'.format(20) }}</td>
				<td>...</td>
			</tfoot>
		</table>
	{% endfor %}

	<script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}
