{% extends 'layout.html' %}

{% block body %}
  <h1>Payments</h1>
  
  <legend>Add a new payment</legend>
	<form action="/payments" method="post">
		<select id="student" required>
			<option value="">Select a student</option>
			{% for student in students %}
				<option value="{{ student['name'] }}">{{ student['name'] }}</option>
			{% endfor %}
		</select>
		<input type="number" id="payment" min="0" placeholder="Student's payment" required readonly>
		<input type="month" placeholder="month paid" required>
		<button type="submit" id="submit-payment" disabled>Add payment</button>
	</form>

	</legend>List all the payments done</legend>
  <table>
  	<tr>
			<th>Datetime</th>
			<th>Student</th>
			<th>Value</th>
			<th>Month</th>
		</tr>
	</tr>
  </table>
	
	<script>
		var students = {
			{% for student in students %}
				'{{ student['name'] }}' : {{ student['value'] }},
			{% endfor %}
		};
		
		document.querySelector('#student').onchange = function () {
			if (document.querySelector('#student').value === ''){
				document.querySelector('#submit-payment').disabled = true;
				document.querySelector('#payment').value = '';
			} else {
				document.querySelector('#payment').value = students[document.querySelector('#student').value];
				document.querySelector('#submit-payment').disabled = false;
			}
		}
	</script>
{% endblock %}
