{% extends "layout.html" %}

{% block body %}
<h1>Professors</h1>
	<legend>Add a new teacher:</legend>
	<form action="/professors" method="post">
		<input type="text" name="add-field" placeholder="Teacher's name">
		<button type="submit" name="add-button">Add</button>
	</form>

	<legend>Remove a teacher:</legend>
	<form action="/professors" method="post">
		<select id="rem-field" name="rem-field">
			<option value="">Select a teacher</option>
			{% for professor in professors %}
				<option value="{{ professor }}">{{ professor }}</option>
			{% endfor %}
		</select>
		<button type="submit" name="remove-button">Remove</button>
	</form>
	
	<legend>Teachers:</legend>
	<ul>
		{% for professor in professors %}
			<li>{{ professor }}</li>
		{% endfor %}
	</ul>
{% endblock %}
