{% extends "layout.html" %}

{% block body %}
	<h1>Students</h1>

	<legend>Add a new student</legend>
	<form action="/students" method="post">
		<input type="text" id="add-field" name="add-field" placeholder="Student's name" required>
		<label for="scholar">scholar</label>
		<input type="checkbox" id="scholar" name="scholar" value="scholar">
		<input type="number" id="value" name="value" placeholder="Monthly payment" min="0" required>
		<label for="teacher">Teacher</label>
		<select id="teacher" name="teacher" required>
			<option value="">Select a teacher</option>
			{% for professor in professors %}
				<option value="{{ professor }}">{{ professor}}</option>
			{% endfor %}
		</select>
		<button type="submit" id="add-button" name="add-button" disabled>Add</button>
	</form>

	<legend>Update or remove a student</legend>
	<form action="/students" method="post">
		<label>Student</label>
		<select id="search-student" name="search-student" required>
			<option value="">Select a student</option>
				{% for student in students %}
					<option value="{{ student['name'] }}">{{ student['name'] }}</option>
				{% endfor %}
			</option>
		</select>
		<button type="submit" id="rem-button" name="rem-button" disabled>Remove</button>
		<button type="submit" id="upd-button" name="upd-button" disabled>Update</button>
	</form>

	<table>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Teacher<th>
			<th>Value</th>
			<th>Scholarship</th>
		</tr>
		{% for student in students %}
			<tr>
				<td>{{ student['id'] }}</td>
				<td>{{ student['name'] }}</td>
				<td>{{ student['teacher'] }}</td>
				<td>{{ student['payment'] }}</td>
				<td>{{ student['scholar'] }}</td>
			</tr>
		{% endfor %}
	</table>

	<script src="{{ url_for('static', filename='students.js') }}"></script>
{% endblock %}
